
/*Calculadora*/
.section-calculadora,
.listado-personas,
.convert-Json-Csv,
.section-hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculadora-buttons .btn.btn-block{
    height: 100%;
}
.calculadora-screen{
    min-height: 50px;
}
.calculadora-screen .col-12{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*listado de personas*/
.listadoPersonas__screen{
    min-height: 50px;
}
.Listado-error,
.span-errorJson{
    font-size: 10px;
}

/*reloj digital*/
.relojdigital-main{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
}
.cerrarReloj{
    position: relative;
}
.cerrarReloj button{
    position: absolute;
    top: -10px;
    right: 0;

}
.hidden{
    display: none !important;
}

/*convert Json*/
.convert-Json-Csv .row{
    min-height: 40vh;
}
.convert-Json-Csv #JsonToCsv textarea{
    width: 100% !important;
    max-height: 100%;
}
@media (min-width: 768px){
    .convert-Json-Csv #JsonToCsv textarea{
        height: 100% !important;
    }   
}


/*elemento Importante Mensaje*/
.cotnainer-monto{
    max-width: 500px;
    margin: 0 auto;
}
#montoDisponible{
    border: none;
    font-size: 20px;
    outline: none;
}
#form-presupuesto input{
    max-width: 100%;
    width: 100%;
}
@media (max-width: 767px ){
    #form-presupuesto .contentFooter{
        margin-top: 20px;
    }   
}

.elementoImportanteMensaje{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343a40 !important;
    z-index: 10;
    color: #fff;
}